/*menu de navigation*/
@media all and (max-width: 1024px) {
  nav {
    width: auto;
    text-align: left;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding-left: 4px;
  }

  nav a {
    font-size: 1.1em;
  }

  nav a:hover {
    border-bottom: 0;
  }
}
