* {
  margin-left: 10px;
}

/* Paragraphes en bleu par défaut */
p {
  color: blue;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px) {
  p {
    color: red;
    background-color: black;
    font-size: 1.2em;
  }
}
